In [1]:
'''
1. Question: SQL-to-JSON Transformation

You are given a list of rows from an SQL database represented as a list of dictionaries, where each dictionary corresponds to a row. 
Each row contains user_id, name, age, and city.
Write a Python function transform_data(rows: List[Dict[str, Union[str, int]]]) -> Dict[int, Dict[str, Union[str, int]]] 
that transforms the data into a dictionary format where the keys are the user_id values, and the corresponding value is a dictionary of the
remaining fields (name, age, city).

'''
rows = [
    {"user_id": 1, "name": "Alice", "age": 25, "city": "New York"},
    {"user_id": 2, "name": "Bob", "age": 30, "city": "San Francisco"}
]

In [15]:
print(rows[1])
print(rows[0]['name'])

{'user_id': 2, 'name': 'Bob', 'age': 30, 'city': 'San Francisco'}
Alice

In [33]:
def program1(dic):
    dic=dict()
    for i in range(len(rows)):
        dic[rows[i]['user_id']]={rows[i]['name'],rows[i]['age'],rows[i]['city']}
    return dic

print(program1(rows))

{1: {25, 'New York', 'Alice'}, 2: {'Bob', 'San Francisco', 30}}

In [63]:
'''
2. Question: Process Log Files

You are given a list of log file entries, where each entry is a string in the format "[timestamp] user_id action". 
The action can be either "start" or "stop". Your task is to write a Python function process_logs(logs: List[str]) -> Dict[int, int] that 
returns a dictionary mapping each user_id to the total duration (in seconds) they were active (i.e., between start and stop).

Assume:

    All start actions are followed by a stop for the same user.
    The timestamp is in the format "YYYY-MM-DD HH:MM:SS".
'''

logs = [
    "[2024-01-01 10:00:00] 1 start",
    "[2024-01-01 10:05:00] 1 stop",
    "[2024-01-01 10:00:00] 2 start",
    "[2024-01-01 10:10:00] 2 stop"
]

from datetime import datetime

time1=datetime.strptime(logs[0][1:20],"%Y-%m-%d %H:%M:%S")
print(type(time1))

<class 'datetime.datetime'>

In [87]:
def time_diff(logs):
    start=[]
    stop=[]
    for i in range(len(logs)):
        time=datetime.strptime(logs[i][1:20],"%Y-%m-%d %H:%M:%S")
        #print(time)
        if i%2==0:
            start.append(time)
        else:
            stop.append(time)
    dic=dict()
    #print(start)
    for i in range(len(start)):
        #print(start[i])
        dic[i+1]=(stop[i]-start[i]).seconds/60
    return dic

        
print(time_diff(logs))

{1: 5.0, 2: 10.0}

In [98]:
#date time diff

def time_diff(logs):
    start=[]
    stop=[]
    for i in range(len(logs)):
        time=datetime.strptime(logs[i][1:20],"%Y-%m-%d %H:%M:%S")
        print(time)
        if i%2==0:
            start.append(time)
        else:
            stop.append(time)

    dic=dict()
    print(start)
    for i in range(len(start)):
        print(start[i])
        dic[i+1]=(stop[i]-start[i])
    return dic

        
time_diff=time_diff(logs)
for log,diff in time_diff.items():
    days=diff.days
    seconds=diff.seconds
    # Convert seconds into hours, minutes, and seconds
    hours = seconds // 3600
    minutes = (seconds % 3600) // 60
    seconds = seconds % 60
    
    print(f"Log {log Question: Data Deduplication

You are given a list of dictionaries representing records, where each dictionary contains id, name, and email. Write a Python function deduplicate(records: List[Dict[str, str]]) -> List[Dict[str, str]] that removes duplicate records based on the email field and returns a list of unique records. Keep the first occurrence of each email.
Example:

records = [
    {"id": "1", "name": "Alice", "email": "alice@example.com"},
    {"id": "2", "name": "Bob", "email": "bob@example.com"},
    {"id": "3", "name": "Alice", "email": "alice@example.com"}
]}: {days} days, {hours} hours, {minutes} minutes, {seconds} seconds")

2024-01-01 10:00:00
2024-01-01 10:05:00
2024-01-01 10:00:00
2024-01-01 10:10:00
[datetime.datetime(2024, 1, 1, 10, 0), datetime.datetime(2024, 1, 1, 10, 0)]
2024-01-01 10:00:00
2024-01-01 10:00:00
Log 1: 0 days, 0 hours, 5 minutes, 0 seconds
Log 2: 0 days, 0 hours, 10 minutes, 0 seconds

In [122]:
'''
Question 3: Data Deduplication

You are given a list of dictionaries representing records, where each dictionary contains id, name, and email. Write a Python function deduplicate(records: List[Dict[str, str]]) -> List[Dict[str, str]] that removes duplicate records based on the email field and returns a list of unique records. Keep the first occurrence of each email.
Example:

'''
records = [
    {"id": "1", "name": "Alice", "email": "alice@example.com"},
    {"id": "2", "name": "Bob", "email": "bob@example.com"},
    {"id": "3", "name": "Alice", "email": "alice@example.com"}
]

def remove_duplicate(record):
    unique=[]
    seen=set()
    for  i in record:
        key=(i["name"],i["email"])
        if key not in seen:
            unique.append(i)
            seen.add(key)
    return unique
    
print(remove_duplicate(records))

[{'id': '1', 'name': 'Alice', 'email': 'alice@example.com'}, {'id': '2', 'name': 'Bob', 'email': 'bob@example.com'}]

In [131]:
'''
Question 4: Sliding Window Aggregation

You are given a list of integers representing transaction amounts and a window size k. Write a Python function sliding_window_sum(transactions: List[int], k: int) -> List[int] that returns a list containing the sum of every sliding window of size k.
Example:

transactions = [10, 20, 30, 40, 50]
k = 3

'''
transactions = [10, 20, 30, 40, 50]
k = 3
def sliding(transactions ,k):
    li=[]
    for i in range(len(transactions)-(k-1)):
        li.append(sum(transactions[i:i+k]))
    return li
print(sliding(transactions ,k))

[60, 90, 120]

In [142]:
'''5. Question: Flatten Nested JSON

You are given a nested JSON-like dictionary structure. Write a Python function flatten_json(nested_dict: Dict[str, Any]) -> Dict[str, Any] that flattens the dictionary, where nested keys are represented as a concatenation of keys separated by a period (.).
Example:

nested_dict = {
    "user": {
        "id": 1,
        "details": {
            "name": "Alice",
            "address": {
                "city": "New York",
                "zipcode": 10001
            }
        }
    }
}

'''

nested_dict = {
    "user": {
        "id": 1,
        "details": {
            "name": "Alice",
            "address": {
                "city": "New York",
                "zipcode": 10001
            }
        }
    }
}

dic={}
import pandas as pd

# Example nested dictionary
nested_dict = {
    "user": {
        "id": 1,
        "details": {
            "name": "Alice",
            "address": {
                "city": "New York",
                "zipcode": 10001
            }
        }
    }
}

# Flatten the nested dictionary
flat_dict = pd.json_normalize(nested_dict, sep='.')

# Convert the DataFrame back to a dictionary
result = flat_dict.to_dict(orient='records')[0]

# Print the flattened dictionary
print(result,end=" ")

{'user.id': 1, 'user.details.name': 'Alice', 'user.details.address.city': 'New York', 'user.details.address.zipcode': 10001}

In [143]:
#manuall

def flatten_dict(d, parent_key='', sep='.'):
    items = []
    
    # Iterate through each key-value pair in the dictionary
    for k, v in d.items():
        # Create a new key by combining the parent key with the current key
        new_key = parent_key + sep + k if parent_key else k
        
        # If the value is a dictionary, recursively flatten it
        if isinstance(v, dict):
            items.extend(flatten_dict(v, new_key, sep=sep).items())
        else:
            # If the value is not a dictionary, add it to the items list
            items.append((new_key, v))
    
    return dict(items)

# Example nested dictionary
nested_dict = {
    "user": {
        "id": 1,
        "details": {
            "name": "Alice",
            "address": {
                "city": "New York",
                "zipcode": 10001
            }
        }
    }
}

# Flatten the dictionary and print the result
flat_dict = flatten_dict(nested_dict)
print(flat_dict)

{'user.id': 1, 'user.details.name': 'Alice', 'user.details.address.city': 'New York', 'user.details.address.zipcode': 10001}

In [148]:
'''
6. Question: Find Top N Frequent Words
You are given a list of words, and you need to find the top N most frequent words. 
Write a Python function top_n_frequent_words(words: List[str], n: int) -> List[str] that returns a list of the top N frequent words. 
The result should be sorted by frequency,
and if two words have the same frequency, they should be sorted lexicographically.

'''

words = ["apple", "banana", "apple", "orange", "banana", "apple"]
n = 2
di=dict()

for i in words :
    if i not in di:
        di[i]=1
    else:
        di[i]+=1
            
print(di)  
for key,value in di.items():
    if value>=2:
        print(key,end=" ")

{'apple': 3, 'banana': 2, 'orange': 1}
apple banana

In [159]:
'''
7. Question: Merge DataFrames

You are given two lists of dictionaries, employees and departments, which represent two tables in a relational database. Each employee has a department_id that links them to a department. Write a Python function merge_data(employees: List[Dict[str, Union[str, int]]], departments: List[Dict[str, str]]) -> List[Dict[str, Union[str, int]]] that merges the two datasets into one, adding the department_name to each employee's data.
Example:

employees = [
    {"id": 1, "name": "Alice", "department_id": 2},
    {"id": 2, "name": "Bob", "department_id": 1}
]
departments = [
    {"id": 1, "department_name": "Engineering"},
    {"id": 2, "department_name": "Marketing"}
]
'''
employees = [
    {"id": 1, "name": "Alice", "department_id": 2},
    {"id": 2, "name": "Bob", "department_id": 1}
]
departments = [
    {"id": 1, "department_name": "Engineering"},
    {"id": 2, "department_name": "Marketing"}
]

import pandas as pd

df1=pd.DataFrame(employees)
df2=pd.DataFrame(departments )
df3=pd.merge(df1,df2,left_on="id",right_on="id")
df3.drop(columns=['department_id'])

   id   name department_name
0   1  Alice     Engineering
1   2    Bob       Marketing

In [175]:

'''
Write a class MovingAverage that computes the moving average of the last k values from a data stream. The class should implement two methods:

    __init__(self, k: int) initializes the moving average with the window size k.
    next(self, val: int) -> float returns the moving average of the last k values.

Example:

ma = MovingAverage(3)
print(ma.next(10))  # returns 10.0
print(ma.next(20))  # returns 15.0
print(ma.next(30))  # returns 20.0
print(ma.next(40))  # returns 30.0

'''

class MovingAverage:
    def __init__(self,k):
        self.k=k
        self.li=[]
        self.total=0
        self.index=0
    def next(self, value):
        self.li.append(value)
        self.total += value  

        if len(self.li) > self.k:
            oldest_value = self.li.pop(0) 
            self.total -= oldest_value  

        # Calculate the average
        return self.total / len(self.li) 

ma = MovingAverage(3)
print(ma.next(10))  # returns 10.0
print(ma.next(20))  # returns 15.0 
print(ma.next(30))  # returns 20.0

10.0
15.0
20.0

In [6]:
'''
Question: JSON Field Renaming

You are given a list of dictionaries representing JSON objects, where each dictionary has fields name, age, and location. Your task is to write a Python function rename_fields(data: List[Dict[str, Union[str, int]]]) -> List[Dict[str, Union[str, int]]] that renames the field location to city for each dictionary in the list.
Example:

data = [
    {"name": "Alice", "age": 25, "location": "New York"},
    {"name": "Bob", "age": 30, "location": "San Francisco"}
]

output:
[
    {"name": "Alice", "age": 25, "city": "New York"},
    {"name": "Bob", "age": 30, "city": "San Francisco"}
]
'''
data = [
    {"name": "Alice", "age": 25, "location": "New York"},
    {"name": "Bob", "age": 30, "location": "San Francisco"}
]

import pandas as pd

df=pd.DataFrame(data)
print(df)

df.rename(columns={"location":"city"},inplace=True)
df

    name  age       location
0  Alice   25       New York
1    Bob   30  San Francisco

    name  age           city
0  Alice   25       New York
1    Bob   30  San Francisco